---
const pageTitle = "Nebula";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png+xml" href="/pse.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
		<a href="/blog/">Blog</a>
		
		<h1>{pageTitle}</h1>
		<h2></h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nostrum nihil error tempore corporis fugiat dolore ab voluptate vel accusamus ea, suscipit id harum? Harum omnis iure quibusdam tempore blanditiis.</p>

	</body>
</html>
